.catalog__block
    .custom-container.laptop__custom-container
        .catalog__block__wrap
            .row
                .col-xs-12.text-center
                    .catalog__name__block
                        h3.catalog__name
                            | Каталог
            .row.text-center
                .col-xs-12
                    #myCarousel.carousel.slide(data-ride='carousel')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#myCarousel', data-slide-to='0')
                            li(data-target='#myCarousel', data-slide-to='1')
                            li(data-target='#myCarousel', data-slide-to='2')
                            li(data-target='#myCarousel', data-slide-to='3')
                            li(data-target='#myCarousel', data-slide-to='4')
                            li(data-target='#myCarousel', data-slide-to='5')
                            li(data-target='#myCarousel', data-slide-to='6')
                            li(data-target='#myCarousel', data-slide-to='7')
                            li(data-target='#myCarousel', data-slide-to='8')
                            li(data-target='#myCarousel', data-slide-to='9')
                            li(data-target='#myCarousel', data-slide-to='10')
                            li(data-target='#myCarousel', data-slide-to='11')
                        .carousel-inner(role='listbox')
                            .item.active
                                -
                                    var list_product__item_1 = {
                                        "Подгузники Pampers Active Baby-Dry 4 (Maxi), 132 шт." : "img/catalog/01.jpg",
                                        "Подгузники Pampers Premium Care 5 (Junior), 88 шт." : "img/catalog/02.jpg",
                                        "Подгузники Pampers Premium Care 4 (Maxi), 104 шт." : "img/catalog/03.jpg",
                                        "Трусики для мальчиков и девочек Pampers Pants 3 (Midi), 120 шт.":"img/catalog/04.png",
                                        "Подгузники Pampers Active Baby-Dry 3 (Midi), 150 шт.":"img/catalog/05.jpg",
                                        "Трусики для мальчиков и девочек Pampers Pants 5 (Junior), 96 шт.":"img/catalog/06.png",
                                        "Трусики для мальчиков и девочек Pampers Pants 4 (Maxi), 104 шт.":"img/catalog/07.png",
                                        "Трусики для мальчиков и девочек Pampers Pants 6 (Extra Large), 88 шт.":"img/catalog/08.jpg"
                                    }

                                each item, key in list_product__item_1
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_2 = {
                                    "Подгузники Pampers Active Baby-Dry 4+ (Maxi Plus), 120 шт.":"img/catalog/09.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi), 147 шт.":"img/catalog/10.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 174 шт.":"img/catalog/11.jpg",
                                    "Трусики для мальчиков и девочек Pampers Premium Care Pants 5 (Junior), 40 шт.":"img/catalog/12.jpg",
                                    "Трусики для мальчиков и девочек Pampers Premium Care Pants 4 (Maxi), 44 шт. ":"img/catalog/13.png",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 126 шт.":"img/catalog/14.jpg",
                                    "Подгузники  Pampers Premium Care 3 (Midi), 120 шт.":"img/catalog/15.jpg",
                                    "Подгузники Pampers Premium Care (Mini), 148 шт.":"img/catalog/16.jpg"
                                    }
                                each item, key in list_product__item_2
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_3 = {
                                    "Подгузники дет.однораз.Pampers New Baby-Dry (Mini), 144 шт.": "img/catalog/17.jpg",
                                    "Подгузники Pampers Active Baby-Dry 5 (Junior), 58 шт.": "img/catalog/18.jpg",
                                    "Трусики для мальчиков и девочек Pampers Premium Care Pants 3 (Midi), 56 шт.": "img/catalog/19.jpg",
                                    "Подгузники Pampers Active Baby-dry 5 (Junior), 78 шт.": "img/catalog/20.jpg",
                                    "Подгузники Pampers Active Baby-Dry 6 (Extra Large), 66 шт.": "img/catalog/21.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi Plus), 62 шт.": "img/catalog/22.jpg",
                                    "Подгузники Pampers Active Baby-dry 4 (Maxi), 90 шт.": "img/catalog/23.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry 3 (Midi), 108 шт.":"img/catalog/24.jpg"
                                    }

                                each item, key in list_product__item_3
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_4 = {
                                    "Подгузники Pampers Active Baby-dry (Maxi), 70 шт.":"img/catalog/25.jpg",
                                    "Подгузники Pampers Active Baby-Dry 6 (Extra Large), 54 шт.":"img/catalog/26.jpg",
                                    "Подгузники Pampers Premium Care 5 (Junior), 44 шт.":"img/catalog/27.jpg",
                                    "Подгузники Pampers Premium Care 4 (Maxi), 52 шт.":"img/catalog/28.jpg",
                                    "Подгузники Pampers Active Baby-Dry 4+ (Maxi Plus), 70 шт.":"img/catalog/29.jpg",
                                    "Подгузники Pampers Active Baby-dry 4 (Maxi), 76 шт.":"img/catalog/30.jpg",
                                    "Подгузники Pampers Active Baby-Dry 3 (Midi), 90 шт.":"img/catalog/31.jpg",
                                    "Подгузники Pampers Active Baby-dry 5 (Junior), 64 шт.":"img/catalog/32.jpg"
                                    }

                                each item, key in list_product__item_4
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item

                                -
                                    var list_product__item_5 = {
                                    "Подгузники Pampers Active Baby-Dry 6 (Extra Large), 56 шт.":"img/catalog/33.jpg",
                                    "Трусики для мальчиков и девочек Pampers Pants 6 (Extra Large), 44 шт.":"img/catalog/34.png",
                                    "Подгузники Pampers Sleep&Play Junior 5 (11-18 кг) 74 шт.":"img/catalog/35.jpg",
                                    "Трусики для мальчиков и девочек Pampers Pants 3 (Midi), 60 шт.":"img/catalog/36.png",
                                    "Подгузники Pampers Premium Care 1 (Newborn), 88 шт.":"img/catalog/37.jpg",
                                    "Подгузники Pampers Sleep&Play 3 (Midi), 100 шт.":"img/catalog/38.jpg",
                                    "Подгузники Pampers Sleep&Play Maxi 4 (8-14 кг) 86 шт.":"img/catalog/39.jpg",
                                    "Трусики для мальчиков и девочек Pampers Pants 5 (Junior), 48 шт.":"img/catalog/40.png"
                                    }

                                each item, key in list_product__item_5
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item

                                -
                                    var list_product__item_6 = {
                                    "Трусики для мальчиков и девочек Pampers Pants 4 (Maxi), 52 шт.":"img/catalog/41.png",
                                    "Pampers Sleep&Play 2 (Mini), 88 шт.":"img/catalog/42.jpg",
                                    "Подгузники Pampers Sleep&Play 4 (Maxi), 68 шт.":"img/catalog/43.jpg",
                                    "Подгузники Pampers Premium Care 3 (Midi), 60 шт.":"img/catalog/44.jpg",
                                    "Трусики  для мальчиков и девочек Pampers Premium Care Pants 4 (Maxi), 22 шт. ":"img/catalog/45.png",
                                    "Трусики для мальчиков и девочек Pampers Premium Care Pants 3 (Midi), 28 шт. ":"img/catalog/46.jpg",
                                    "Трусики для мальчиков и девочек Pampers Premium Care Pants 5 (Junior), 20 шт.":"img/catalog/47.jpg",
                                    "Подгузники-трусики для мальчиков и девочек Pampers Pants (Midi), 26 шт.":"img/catalog/48.jpg"
                                    }

                                each item, key in list_product__item_6
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item

                                -
                                    var list_product__item_7 = {
                                    "Детские однораз.подгузники-трусики для мальчиков и девочек Pampers Pants (Extra Large), 19 шт.":"img/catalog/49.jpg",
                                    "Подгузники дет.однораз.Pampers Premium Care (Junior), 18 шт.":"img/catalog/50.jpg",
                                    "Подгузники Pampers Premium Care (Maxi), 20 шт.":"img/catalog/51.jpg",
                                    "Подгузники дет.однораз.Pampers New Baby-Dry (Newborn), 43 шт.":"img/catalog/52.jpeg",
                                    "Подгузники Pampers Premium Care 0 (Newborn), 30 шт.":"img/catalog/53.jpg",
                                    "Подгузники Pampers Premium Care (Midi), 20 шт.":"img/catalog/54.jpg",
                                    "Детские однораз.подгузники-трусики для мальчиков и девочек Pampers Pants (Junior), 15 шт.":"img/catalog/55.jpg",
                                    "Детские однораз.подгузники-трусики для мальчиков и девочек Pampers Pants (Maxi), 16 шт.":"img/catalog/56.jpg"
                                    }

                                each item, key in list_product__item_7
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_8 = {
                                    "Подгузники Pampers Active Baby-dry 4 (Maxi), 20 шт.":"img/catalog/57.jpg",
                                    "Подгузники Pampers Active Baby-dry 3 (Midi), 22 шт.":"img/catalog/58.jpg",
                                    "Подгузники Pampers Active Baby 4+ (Maxi Plus), 18 шт.":"img/catalog/59.jpg",
                                    "Подгузники Pampers Active Baby-dry 5 (Junior), 16 шт.":"img/catalog/60.jpg",
                                    "Подгузники Pampers New Baby-dry 2 (Mini), 27 шт.":"img/catalog/61.jpg",
                                    "Подгузники Pampers Newbaby-Dry 1 (Newborn), 27 шт.":"img/catalog/62.jpg",
                                    "Подгузники Pampers Premium Care (Mini), 22 шт.":"img/catalog/63.jpg",
                                    "Подгузники Pampers Premium Care 1 (Newborn), 22 шт.":"img/catalog/64.jpg"
                                    }

                                each item, key in list_product__item_8
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_9 = {
                                    "Подгузники Pampers Sleep&Play 4 (Maxi),  14 шт.":"img/catalog/65.jpg",
                                    "Подгузники Pampers Sleep&Play 5 (Junior),  11 шт.":"img/catalog/66.jpg",
                                    "Подгузники Pampers Sleep&Play 3 (Midi),  16 шт.":"img/catalog/67.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 10 шт.":"img/catalog/68.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Junior), 10 шт.":"img/catalog/69.jpg",
                                    "Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi), 10 шт.":"img/catalog/70.jpg",
                                    "Подгузники Pampers Sleep & Play 2 (Mini), 18 шт.":"img/catalog/71.jpg",
                                    "Подгузники Pampers New Baby 2 (Mini), 94 шт.":"img/catalog/72.jpg"
                                    }

                                each item, key in list_product__item_9
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_10 = {
                                    "Подгузники Pampers Active Baby-dry 4 (Maxi), 82 шт.":"img/catalog/73.jpg",
                                    "Подгузники Pampers Active Baby-dry 4+ (Maxi Plus), 74 шт.":"img/catalog/74.jpg",
                                    "Подгузники Pampers Active Baby-dry  5 (Junior), 68 шт.":"img/catalog/75.jpg",
                                    "Подгузники Pampers Active Baby-dry 6 (Extra Large), 64 шт.":"img/catalog/76.jpg",
                                    "Подгузники Pampers Premium Care 5 (Junior), 21 шт.":"img/catalog/77.jpg",
                                    "Подгузники Pampers Premium Care 4 (Maxi), 24 шт.":"img/catalog/78.jpg",
                                    "Подгузники Pampers Premium Care 3 (Midi), 27 шт.":"img/catalog/79.jpg",
                                    "Подгузники Pampers Premium Care 2 (Mini), 32 шт.":"img/catalog/80.jpg"
                                    }

                                each item, key in list_product__item_10
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_11 = {
                                    "Подгузники Pampers Premium Care 2 (Mini), 72 шт.": "img/catalog/81.jpg",
                                    "Подгузники Pampers Premium Care 1 (Newborn), 33 шт.": "img/catalog/82.jpg",
                                    "Подгузники Pampers Premium Care 1 (Newborn), 78 шт.": "img/catalog/83.jpg",
                                    "Подгузники Pampers Premium Care 1 (Small), 94 шт.": "img/catalog/84.jpg",
                                    "Подгузники Pampers Premium Care 4 (Maxi), 66 шт.": "img/catalog/85.jpg",
                                    "Подгузники Pampers Premium Care 2 (Mini), 90 шт.": "img/catalog/86.jpg",
                                    "Подгузники Pampers Premium Care 3 (Midi), 80 шт.": "img/catalog/87.jpg",
                                    "Подгузники Pampers Active Baby-dry 6 (Extra Large), 16 шт.": "img/catalog/88.jpg"
                                    }

                                each item, key in list_product__item_11
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                            .item
                                -
                                    var list_product__item_12 = {
                                    "Подгузники-трусики Pampers Active Girl 4(Maxi), 104 шт.": "img/catalog/89.jpg",
                                    "Подгузники Pampers Premium Care 5 (Junior), 56 шт.": "img/catalog/90.jpg",
                                    "Подгузники Pampers Active Baby-dry 3 (Midi), 112 шт.": "img/catalog/91.jpg",
                                    "Подгузники Pampers Active Baby 3 (Midi), 82 шт.": "img/catalog/92.jpg",
                                    "Подгузники Pampers Active Baby-Dry 5 (Junior), 82 шт.": "img/catalog/93.jpg",
                                    "Подгузники Pampers Active Baby-dry 4 (Maxi), 99 шт.": "img/catalog/94.jpg",
                                    "Подгузники Pampers Active Baby-Dry 3+ (Midi Plus), 21 шт.": "img/catalog/95.jpg",
                                    "Подгузники-трусики Pampers Active Girl 4(Maxi), 16 шт.": "img/catalog/96.jpg"
                                    }

                                each item, key in list_product__item_12
                                    .col-md-3.col-sm-6.col-xs-12
                                        .product__item.js_product__item
                                            .product__item__img
                                                img(src= item alt= key)
                                            .product__item__name
                                                p.product__item__name-text.js_product__item__name= key
                                            button.product__item__btn.js_bild_modal(data-toggle='modal', data-target='#myModal')
                                                | Узнать цену по&nbsp;акции
                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                        span.carousel__icon.carousel_left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                        span.carousel__icon.carousel_right(aria-hidden='true')
                        span.sr-only Next


                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/89e/178_157_1/screenshot_8.png?142503128134748" alt="Подгузники Pampers Active Baby-Dry 6 (Extra Large), 76 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5cd/178_157_1/screenshot_3.jpg?144308726716239" alt="Подгузники Pampers Premium Care 2 (Mini), 80 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/d77/178_157_1/screenshot_6.jpg?144361814912534" alt="Подгузники Pampers Premium Care 2 (Mini), 96 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/87b/178_157_1/screenshot_4.jpg?144361726413194" alt="Подгузники Pampers Premium Care 1 (Newborn), 108 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/16d/178_157_1/screenshot_2.jpg?144621278114380" alt="Подгузники Pampers Active Baby-Dry 5 (Junior), 111 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/ebf/178_157_1/3229760h.jpg?146297224711725" alt="Подгузники дет.однораз.Pampers Sleep&Play (Junior), 58 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/939/178_157_1/4015400224211.jpg?14661697829592" alt="Подгузники дет.однораз.Pampers Sleep&Play (Midi), 58 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/0ac/178_157_1/pa454_500x500.jpg?146660243511485" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi), 54 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/259/178_157_1/screenshot_1.jpg?146971409012299" alt="Подгузники дет.однораз.Pampers Sleep&Play (Maxi), 50 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/3fc/178_157_1/podguzniki_detskie_pampers_active_baby_dry_midi_4_9_kg_dzhaynt_upakovka_90_sht.jpg?147066041115322" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 68 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/83b/178_157_1/126.jpg?147265217915316" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Junior), 126 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4d9/178_157_1/44.jpg?147265218410041" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Junior), 44 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/f38/178_157_1/87.jpg?147265218015046" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Junior), 87 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/cf3/178_157_1/i.jpg?147265114812049" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi), 106 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/0f8/178_157_1/podguzniki-pampers-active-baby-3-midi_-4_9-kg._-62-sht._enl.jpg?147265126812294" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 62 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/fdc/178_157_1/17.jpeg?147265182913865" alt="Подгузники дет.однораз.Pampers New Baby-Dry (Mini), 17 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/7ce/178_157_1/pampers_podguzniki_new_baby_dry_mini_3_6_kg_ekonomichnaya_upakovka_72_20160302210325.jpg?147265166311617" alt="Подгузники дет.однораз.Pampers New Baby-Dry (Mini), 72шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4af/178_157_1/pampers_sleep_play_junior_11_25_kg._42_sht._1.jpg?147265004513876" alt="Подгузники дет.однораз.Pampers Sleep&Play (Junior), 42 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/e62/178_157_1/pampers_podguzniki_sleep_and_play_midi_4_9_kg_dzhambo_upakovka_78_20160302210308.jpg?147265018113121" alt="Подгузники дет.однораз.Pampers Sleep&Play (Midi), 78 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/f92/178_157_1/4015400649724.jpg?149372807111899" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Maxi), 46 шт."
                                                                    //src="//opt-485613.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/897/178_157_1/17_4000x_1488451760.png?149372807124141" alt="Подгузники дет.однораз.Pampers Active Baby-Dry (Midi), 54 шт."